{% extends "base.html" %}
{% load static %}

{% block title %}PCA Connect{% endblock title %}

{% block body %}

<div id="posts">
    <!-- Use the include block for any post to display-->
    {% for post in object_list %}

    {% include 'post/repr.html' with post=post %}
    
    {% endfor %}
</div>

<span class="fixed-bottom float-right CLICK">
    <div><button class="btn btn-primary m-3 float-end shadow-sm circle btn-lg"><a class="lh-1 newpost" href="{% url 'post-create' %}"><i class="bi bi-plus-circle-fill"></i></a></button></div>
</span>
    
<p id="user_id" hidden>{{ user.profile.id }}</p>

<script>
let allPosts = document.getElementsByClassName("postWrap");
const ID = document.getElementById("user_id").innerHTML;

const like = (element, liked) => {
    let id = element.firstElementChild.id.split('-')[1];

    $.getJSON({
        url: `/post/${id}/like/`,
        data: {liked: liked},
        success: (data) => {
            if (data.liked) {
                $(`#i-${id}`).removeClass("bi-hand-thumbs-up");
                $(`#i-${id}`).addClass("bi-hand-thumbs-up-fill");
            } else {
                $(`#i-${id}`).removeClass("bi-hand-thumbs-up-fill");
                $(`#i-${id}`).addClass("bi-hand-thumbs-up");
            }

            likeCount(id)
        }
    })
}

const likeCount = (id) => {
    $.getJSON({
        url: `/api/posts/${id}/`,
        success: (data) => {
            console.log(data)
        }
    })
}

</script>
{% endblock%}